:root {
  --sell-as-self-color: var(--bs-primary);
  --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sell-as-variants-color: var(--bs-secondary);
  --sell-as-mix-color: var(--bs-success);
  --sell-as-colors-color: #ce0e2d;
}

#app h2 {
  font-size: 1.5rem;
}
#app .row .col-0 {
  display: none;
}
#app figure.product-image {
  margin-bottom: 0;
}
#app figure.product-image.image-80 {
  max-width: calc(2rem + 80px);
}
#app figure.product-image.image-250 {
  max-width: calc(2rem + 250px);
}
#app figure.product-image.image-400 {
  max-width: calc(2rem + 400px);
}
#app figure.product-image figcaption {
  white-space: nowrap;
}
#app figure.product-image figcaption .filename {
  text-overflow: ellipsis;
  overflow: hidden;
}
#app .form-label {
  font-weight: 300;
}
#app .sell-as-icons .badge + .badge {
  margin-left: 2px;
}
#app .redirect-icon {
  cursor: pointer;
}
#app .btn.btn-sell-as-self,
#app .btn-outline-sell-as-self:hover,
#app .badge.sell-as-self {
  background-color: var(--sell-as-self-color);
  border-color: var(--sell-as-self-color);
  color: white;
}
#app .btn-outline-sell-as-self {
  background-color: transparent;
  color: var(--sell-as-self-color);
  border-color: var(--sell-as-self-color);
}
#app .btn.btn-sell-as-variants,
#app .btn-outline-sell-as-variants:hover,
#app .badge.sell-as-variants {
  background-color: var(--sell-as-variants-color);
  border-color: var(--sell-as-variants-color);
  color: white;
}
#app .btn-outline-sell-as-variants {
  background-color: transparent;
  color: var(--sell-as-variants-color);
  border-color: var(--sell-as-variants-color);
}
#app .btn.btn-sell-as-mix,
#app .btn-outline-sell-as-mix:hover,
#app .badge.sell-as-mix {
  background-color: var(--sell-as-mix-color);
  border-color: var(--sell-as-mix-color);
  color: white;
}
#app .btn-outline-sell-as-mix {
  background-color: transparent;
  color: var(--sell-as-mix-color);
  border-color: var(--sell-as-mix-color);
}
#app .btn.btn-sell-as-colors,
#app .btn-outline-sell-as-colors:hover,
#app .badge.sell-as-colors {
  background-color: var(--sell-as-colors-color);
  border-color: var(--sell-as-colors-color);
  color: white;
}
#app .btn-outline-sell-as-colors {
  background-color: transparent;
  color: var(--sell-as-colors-color);
  border-color: var(--sell-as-colors-color);
}
#app .sortable-variant-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
#app .sortable-variant-list .sortable-item {
  width: 100%;
  flex: 0 0 auto;
  border-color: var(--bs-btn-border-color);
  border-radius: 3px;
  margin: 0.25rem;
  text-align: center;
  font-size: small;
  flex-direction: row;
  display: flex;
}
#app .sortable-variant-list .sortable-item .btn-light {
  border-color: grey;
}
#app .sortable-variant-list .sortable-item.inactive {
  color: black;
  background-color: rgb(127.5, 127.5, 127.5);
}
#app .sortable-variant-list .sortable-item.inactive button {
  background-color: rgb(84.99915, 84.99915, 84.99915);
}
#app .sortable-variant-list .sortable-item.inactive img {
  filter: grayscale(50%) brightness(80%);
}
#app .sortable-variant-list .sortable-item.inactive a {
  color: rgb(127.5, 127.5, 127.5);
}
#app .sortable-variant-list .sortable-item--edit-button {
  width: 5rem;
  margin: 0.25rem;
}
#app .sortable-variant-list .sortable-item.section {
  background-color: var(--item-section-color);
  font-weight: bold;
}
#app .sortable-variant-list .sortable-item.product {
  background-color: var(--item-product-color);
}
#app .sortable-variant-list .sortable-item.category {
  background-color: var(--item-category-color);
}
#app .sortable-variant-list .sortable-item.link {
  background-color: var(--item-link-color);
}
#app .sortable-variant-list .sortable-item-padding {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
#app .product-image-list,
#app .product-color-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#app .product-image-list .product-image-item,
#app .product-image-list .product-color-item,
#app .product-color-list .product-image-item,
#app .product-color-list .product-color-item {
  margin: 0.25rem;
  text-align: center;
  flex: 0 1 auto;
}
#app .product-image-list .product-image-item button,
#app .product-image-list .product-color-item button,
#app .product-color-list .product-image-item button,
#app .product-color-list .product-color-item button {
  display: block;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0.25rem;
}
#app .product-image-list figure.text-danger figcaption,
#app .product-color-list figure.text-danger figcaption {
  color: inherit;
}
#app .color-swatch {
  width: 2rem;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
