:root {
  --sell-as-self-color: var(--bs-primary);
  --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sell-as-variants-color: #a9a8a8;
  --sell-as-mix-color: #4e9b5b;
  --sell-as-colors-color: #ce0e2d;
}

#app {

  h2 {
    font-size: 1.5rem;
  }
  .row .col-0 {
    display: none;
  }
  figure.product-image {
    &.image-80 {
      max-width: calc(2rem + 80px);
    }
    &.image-250 {
      max-width: calc(2rem + 250px);
    }
    &.image-400 {
      max-width: calc(2rem + 400px);
    }
    figcaption {
      white-space: nowrap;
      .filename {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }



  .form-label {
    font-weight: 300;
    color: var(--bs-gray-600);
  }
  .sell-as-icons {
    .badge + .badge {
      margin-left: 2px;
    }
  }
  .redirect-icon {
    cursor: pointer;
  }
  
  .btn.btn-sell-as-self,
  .btn-outline-sell-as-self:hover,
  .badge.sell-as-self {
    background-color: var(--sell-as-self-color);
    border-color: var(--sell-as-self-color);
    color: white;
  }
  .btn-outline-sell-as-self {
    background-color: transparent;
    color: var(--sell-as-self-color);
    border-color: var(--sell-as-self-color); 
  }
  
  .btn.btn-sell-as-variants,
  .btn-outline-sell-as-variants:hover,
  .badge.sell-as-variants {
    background-color: var(--sell-as-variants-color);
    border-color: var(--sell-as-variants-color);
    color: white;
  }
  .btn-outline-sell-as-variants {
    background-color: transparent;
    color: var(--sell-as-variants-color);
    border-color: var(--sell-as-variants-color); 
  }
  
  .btn.btn-sell-as-mix,
  .btn-outline-sell-as-mix:hover,
  .badge.sell-as-mix {
    background-color: var(--sell-as-mix-color);
    border-color: var(--sell-as-mix-color);
    color: white;
  }
  .btn-outline-sell-as-mix {
    background-color: transparent;
    color: var(--sell-as-mix-color);
    border-color: var(--sell-as-mix-color); 
  }
  
  .btn.btn-sell-as-colors,
  .btn-outline-sell-as-colors:hover,
  .badge.sell-as-colors {
    background-color: var(--sell-as-colors-color);
    border-color: var(--sell-as-colors-color);
    color: white;
  }
  .btn-outline-sell-as-colors {
    background-color: transparent;
    color: var(--sell-as-colors-color);
    border-color: var(--sell-as-colors-color); 
  }

  .sortable-variant-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    .sortable-item {
      width: 100%;
      flex: 0 0 auto;
      border: 1px solid lighten(black, 10%);
      border-radius: 3px;
      margin: 0.25rem;
      text-align: center;
      color: black;
      font-size: small;
      flex-direction: row;
      display: flex;


      .btn-light {
        border-color: grey;
      }
      &.inactive {
        color: black;
        background-color: lighten(black, 50%);
        //border-color: red;
        button {
          background-color: lighten(black, 33.333%);
        }
        img {
          filter: grayscale(50%) brightness(80%);
        }
        a {
          color: lighten(black, 50%);
        }
      }

      &--edit-button {
        width: 5rem;
        margin: 0.25rem;
      }

      &.section {
        background-color: var(--item-section-color);
        font-weight: bold;
      }

      &.product {
        background-color: var(--item-product-color);
      }

      &.category {
        background-color: var(--item-category-color);
      }

      &.link {
        background-color: var(--item-link-color);
      }

      &-padding {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 auto;
      }
    }
  }

  .product-image-list,
  .product-color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .product-image-item,
    .product-color-item {
      margin: 0.25rem;
      text-align: center;
      flex: 0 1 auto;

      button {
        display: block;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0.25rem;
      }
    }
    figure.text-danger {
      figcaption {
        color: inherit;
      }
    }
  }

  .color-swatch {
    width: 2rem;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  }
}
